@charset "UTF-8";

*{
    box-sizing:border-box
}

.contentscenter {
	position: relative;
	height: 100%;
	min-height:1px;
	width: 1000px;
	margin: 0 auto;
}

.contentslogo {
	position: absolute;
	left: 0px;
	top: 20px;
	border-style:none;
}

.titleimage img{
    height:50px;
    margin:10px 0px;
    margin-right:30px;
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
    pointer-events: none;
}

.titleimage{
    width: auto;
    display: inline-block;
}


.contents {
	background-image: url(images/contents/back.png);
	background-repeat: no-repeat;
	background-position: center top;
	margin:0px;
	background-size:2000px 1260px;
	min-width:1000px;
}


.bodyparts {
	position: relative;
	height: 637px;
	width: 1000px;
	margin: 0 auto;
}
.bodyimage {
	position: absolute;
	left: 0px;
    top: 60
    0px;
}

body{
    width : 100%;
    margin: 0;
    color : #4b4b4b;
    background-color: #ffeee6;
}

.main {
    position: relative;
    top:100px;
    margin: 0px auto;
    padding :0px;
    width : 100%;
    height: auto;
    overflow : hidden;
}

.topimage {
    position: relative;
    width : 80%;
    top: 0px;
    margin: 0 auto;
    user-select: none; /* CSS3 */
    -moz-user-select: none; /* Firefox */
    -webkit-user-select: none; /* Safari、Chromeなど */
    -ms-user-select: none; /* IE10かららしい */
    pointer-events: none;
}

.topimage img{
    border-radius: 30px;
}

.boxes {
    margin: 10px auto;
    margin-bottom: 40px;
	padding:15px 0px;
	width: 80%;
	height: auto;
    position:relative;
    overflow: hidden;
}


.box {
	background-color:rgba(255,255,255,0.7);
	margin: 0px auto;
	padding:15px;
	width: 65%;
	height: auto;
    float: left;
    border-radius: 10px;
}

.tweetbox {
    float: right;
	width: 30%;
    margin: 0px auto;
}

.contentbox {
	background-color:rgba(255,255,255,0.7);
	margin: 0px auto;
	padding:15px;
	width: 100%;
	height: 100%;
    border-radius: 10px;
    position:relative;
    overflow: hidden;
}

.topvideo {
	margin: 0px auto;
	padding: 0px;
	height: auto;
	min-height: 1px;
	position:absolute;
	width: 560px;
	position: inherit;
}


.date {
	font-family:  "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 20px;
	font-style: normal;
	line-height:100%;
}
/*.text {
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 20px;
	font-style: normal;
	padding-left: 0em;
    line-height: 120%;
	position: inherit;
    float: left;
    width: 100%;
}*/
.phototext {
	font-family:  "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 15px;
	font-style: normal;
	text-indent: 0em;
	padding-left: 0em;
	line-height:200%;

}

＃content＿top, ＃content＿movie {
  word-break:break-all;
}


.line {
  float:right;
}


.clearfix {
	width:100%;
}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

.contentsmenuabout {
	position: absolute;
	left: 20px;
	top: 170px;
}
a#contentsmenuabout {
	display: block;
    width: 65px; /* 画像1枚分の横幅 */
    height: 75px; /* 画像1枚分の高さ */
    text-indent: -1000px; /* 文字を見えなくする */
    background-image: url("images/contents/contentsmenuabout.png"); /* 画像ファイル名 */
}
a#contentsmenuabout:hover {
    background-position: top right; /* 背景画像の表示開始基準を右上に変更 */
}
.contentsmenumember {
	position: absolute;
	left: 105px;
	top: 170px;
}
a#contentsmenumember {
	display: block;
    width: 75px; /* 画像1枚分の横幅 */
    height: 75px; /* 画像1枚分の高さ */
    text-indent: -1000px; /* 文字を見えなくする */
    background-image: url("images/contents/contentsmenumember.png"); /* 画像ファイル名 */
}
a#contentsmenumember:hover {
    background-position: top right; /* 背景画像の表示開始基準を右上に変更 */
}
.contentsmenustage {
	position: absolute;
	left: 60px;
	top: 275px;
}
a#contentsmenustage {
	display: block;
    width: 65px; /* 画像1枚分の横幅 */
    height: 75px; /* 画像1枚分の高さ */
    text-indent: -1000px; /* 文字を見えなくする */
    background-image: url("images/contents/contentsmenustage.png"); /* 画像ファイル名 */
}
a#contentsmenustage:hover {
    background-position: top right; /* 背景画像の表示開始基準を右上に変更 */
}
.contentsmenuphotomovie {
	position: absolute;
	left: 135px;
	top: 275px;
}
a#contentsmenuphotomovie {
	display: block;
    width: 110px; /* 画像1枚分の横幅 */
    height: 75px; /* 画像1枚分の高さ */
    text-indent: -1000px; /* 文字を見えなくする */
    background-image: url("images/contents/contentsmenuphotomovie.png"); /* 画像ファイル名 */
}
a#contentsmenuphotomovie:hover {
    background-position: top right; /* 背景画像の表示開始基準を右上に変更 */
}
.contentsmenufb {
	position: absolute;
	left: 10px;
	top: 380px;
}
a#contentsmenufb {
	display: block;
    width: 85px; /* 画像1枚分の横幅 */
    height: 75px; /* 画像1枚分の高さ */
    text-indent: -1000px; /* 文字を見えなくする */
    background-image: url("images/contents/contentsmenufb.png"); /* 画像ファイル名 */
}
a#contentsmenufb:hover {
    background-position: top right; /* 背景画像の表示開始基準を右上に変更 */
}
.contentsmenumail {
	position: absolute;
	left: 110px;
	top: 380px;
}
a#contentsmenumail {
	display: block;
    width: 65px; /* 画像1枚分の横幅 */
    height: 75px; /* 画像1枚分の高さ */
    text-indent: -1000px; /* 文字を見えなくする */
    background-image: url("images/contents/contentsmenumail.png"); /* 画像ファイル名 */
}
a#contentsmenumail:hover {
    background-position: top right; /* 背景画像の表示開始基準を右上に変更 */
}
.contentsmenublog {
	position: absolute;
	left: 65px;
	top: 490px;
}
a#contentsmenublog {
	display: block;
    width: 65px; /* 画像1枚分の横幅 */
    height: 75px; /* 画像1枚分の高さ */
    text-indent: -1000px; /* 文字を見えなくする */
    background-image: url("images/contents/contentsmenublog.png"); /* 画像ファイル名 */
}
a#contentsmenublog:hover {
    background-position: top right; /* 背景画像の表示開始基準を右上に変更 */
}
.contentsmenulogin {
	position: absolute;
	left: 160px;
	top: 490px;
}
a#contentsmenulogin {
	display: block;
    width: 55px; /* 画像1枚分の横幅 */
    height: 75px; /* 画像1枚分の高さ */
    text-indent: -1000px; /* 文字を見えなくする */
    background-image: url("images/contents/contentsmenulogin.png"); /* 画像ファイル名 */
}
a#contentsmenulogin:hover {
    background-position: top right; /* 背景画像の表示開始基準を右上に変更 */
}
.contentsmenu {
	float:left;
	/*position: fixed;*//*gpFloatで代用*/
	top: 0px;
	left: auto;
	width:250px;
	height:620px;
	margin:0px;
	padding:0px;
}

.contentstitle {
	position: absolute;
	left: 1px;
	top: 100px;
}
.contentsbox {
	float: right;
	width: 80%;
	height: auto;
	min-height:430px;
	margin: 10px auto;
	padding:0px;

}

.memberlist {
	font-family:  "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 20px;
	font-style: normal;
	line-height:140%;
}

.memberlist li{
	list-style-type: none;
	border-bottom:1px dashed black;
	padding-bottom:20px;
}

.memberlist h1{
	font-size:25px;
	font-style:normal;
	line-height:100%;
}

.memberlist p{
	font-size:20px;
	font-style:normal;
	line-height:120%;
}

a{/*リンクされた文字*/
    color:#07889b;
    font-style:normal;
    text-decoration:none;
}
a:link {/*未訪問のリンク*/
    color:#07889b;
    font-style:normal;
    text-decoration:none;
}
a:visited {/*訪問後のリンク*/
    color:#07889b;
    text-decoration:none;
}
a:hover {/*マウスをのせたとき*/
    color:#66b9bf;
    font-style:normal;
    text-decoration:none;
}
a:active {/*クリック中*/
    text-decoration:none;
}

.indent1em {
	padding-left:1em;
}

.indent0em {
	text-indent:2em;
}

.mouseovercomment{
	z-index:3;
	position:absolute;
	color:#000000;
	background-color:#ffffff;
	filter:alpha(opacity=85);
	opacity:0.85;
	margin-top:1.7em;
	margin-left:-5em;
	padding: 0em 0.5em;
	text-indent:0em;
	}

.mouseplease{
	text-decoration:underline;
}

.eventphoto{
	background-color:#ffffff;
	border-radius: 30px;
	padding: 15px 15px;
	margin:10px 10px;
	text-indent:0em;
	position:absolute;
	top: 330px;
	left: 300px;
}

.close{
	position:relative;
	float:right;
}

.stages{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

}

.stages li{
	list-style-type: none;
	border-bottom:1px dashed #66b9bf;
}

.stages h1{
	font-size:25px;
	font-style:normal;
	line-height:100%;
}

.stages p{
	font-size:20px;
	font-style:normal;
	line-height:100%;
}

.genres{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

}

.genres li{
	list-style-type: none;
	border-bottom:1px dashed #66b9bf;
	padding-bottom:20px;
}

.genres h1{
	font-size:25px;
	font-style:normal;
	line-height:100%;
}

.genres p{
	font-size:20px;
	font-style:normal;
	line-height:120%;
}

.genres video{
  width:560px;
  height:315px;
}

.photos{
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

}

.photos li{
	list-style-type: none;
	border-bottom:1px dashed #66b9bf;
	padding-bottom:20px;
}

.photos h1{
	font-size:25px;
	font-style:normal;
	line-height:100%;
}

.photos p{
	font-size:20px;
	font-style:normal;
	line-height:120%;
}


.eventtable td{
	border:1px solid black;
	text-align: center;

}

.eventtable table{
  border-collapse:collapse;
}

.question{
	font-weight: bold;
}

hr {
    width: 100%;
    height: 1px;
    border: 0;
    border-top: 1px dashed #66b9bf;
}

ul {list-style-type: none;}
img {border: none;max-width: 100%;height: auto;vertical-align: middle;}

header {
	position: fixed;	/*固定表示*/
	left: 0px;top: 0px;
	z-index: 2;
	width: 100%;		/*幅*/
	height: 80px;		/*高さ*/
	background:rgba(255,255,255,0.8);	/*背景色*/
	/*box-shadow: 0px 0px 30px 30px rgba(255,255,255,0.6);*/
}

header #logo img {
	width: 190px;	/*画像の幅*/
	position: absolute;
	left: 3%;		/*ヘッダーブロックに対して左から3%の場所に配置*/
	bottom: 0px;	/*ヘッダーブロックに対して下から10pxの場所に配置*/
}

header .icon {
	position: absolute;
	right: 3%;		/*ヘッダーブロックに対して右から3%の場所に配置*/
	bottom: 10px;	/*ヘッダーブロックに対して下から10pxの場所に配置*/
}
/*アイコン１個あたりの設定*/
header .icon li {
	display: inline;	/*横並びにさせる指定*/
}
/*アイコン画像の設定*/
header .icon img {
	width: 30px;		/*画像の幅*/
	margin-left: 10px;	/*画像同士の余白*/
}

#menubar {
    overflow: hidden;
    clear: both;
	position: absolute;
	left: 190px;	/*ヘッダーブロックに対して左から300pxの場所に配置*/
    bottom: 10px;	/*ヘッダーブロックに対して下から10pxの場所に配置*/
    height: 60px;
}
/*メニュー１個あたりの設定*/
#menubar li {
	overflow: hidden;
	float: left;		/*左に回り込み*/
	text-align: center;	/*文字をセンタリング*/
	padding: 0px 10px;	/*上下、左右へのメニュー内の余白*/
}
#menubar li a {
    display:  block;
    text-decoration: none;
    padding-top: 3px;	/*下のブロックの「border-bottom」と「bottom」の数字と合わせる。*/
    color: #4b4b4b;
}

#menubar li a:hover{
    color : #e37222;
}


/*下線のアニメーション設定*/
#menubar li::after {
	transition: 0.3s;	/*0.3秒かけてアニメーションを実行する。*/
	content: "";
	display: block;
    border-bottom: 3px solid #66b9bf;	/*下線の幅、線種、色。上のブロックの「padding-top」と、下の行の「bottom」の数字と合わせる。*/
    position: relative;
    left: 0px;
    bottom: -3px;	/*bottomの数字は上のブロックの「padding-top」と、上の行の「border-bottom」の数字と合わせる。※マイナス記号は残したまま。*/
}
/*マウスオン時、現在表示中(current)、共通設定*/
#menubar li:hover::after,#menubar li.current::after {
    bottom: 0px;
}

/*スマホ用メニューを表示させない*/
#menubar-s {display: none;}
/*３本バーアイコンを表示させない*/
#menubar_hdr {display: none;}

#menubar li {
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
  }

#menubar li+ li {
    border-left: 0;
    border-right: 1px solid #bbb;
  }

.hr_title{
    height: 10px;
    opacity: 60%;
    background: -webkit-repeating-linear-gradient(-45deg, #07889b, #07889b 4px,#66b9bf 4px, #66b9bf 8px);
    background: repeating-linear-gradient(-45deg, #07889b, #07889b 4px, #66b9bf 4px, #66b9bf 8px);
    border: none;
    position: relative;
    top: -5px;
    width: inherit;
    border-radius: 10px;
}

.tab-wrap {
    display: flex;
    flex-wrap: wrap;
    margin:20px 0;
  }
  .tab-wrap:after {
    content: '';
    width: 100%;
    height: 3px;
    background: #07889b;
    display: block;
    order: -1;
  }
  .tab-label {
    color: White;
    background: LightGray;
    white-space: nowrap;
    text-align: center;
    padding: 10px .5em;
    order: -1;
    position: relative;
    z-index: 1;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
    flex: 1;
  }
  .tab-label:not(:last-of-type) {
    margin-right: 5px;
  }
  .tab-content {
    width: 100%;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }
  /* アクティブなタブ */
  .tab-switch:checked+.tab-label {
    background: #66b9bf;
  }
  .tab-switch:checked+.tab-label+.tab-content {
    height: auto;
    overflow: auto;
    padding: 15px;
    opacity: 1;
    transition: .5s opacity;
    box-shadow: 0 0 3px rgba(0,0,0,.2);
  }
  /* ラジオボタン非表示 */
  .tab-switch {
    display: none;
  }

.date_indent{
    display: inline-block;
    width:3em;
}

.sns_indent{
    display: inline-block;
    width:6em;
}

.tab-content{
    word-break: keep-all;
}

summary{
    color: #07889b;
    outline: none;
}
summary:hover{
    color: #66b9bf;
}

summary.title{
    font-size: 120%;
}

.detail{
    margin-left:2em;
    margin-top:1em;
}

footer{
    text-align : center;
    margin : 10px 0;
    padding : 0px;
    clear : both;
    width : 100%;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}
